.logo-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.login-link {
    display: block;
    text-align: center;
    background-color: #ea9414 !important;
    text-decoration: none;
    color: white !important;
    border-radius: 5px;
}
